@charset "utf-8";

div {
    font-family: 'Nanum Gothic', sans-serif;
}

h1.title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 48px;
    font-weight: 800;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}